@import "~bootstrap/scss/card";

// Styles
.card {
    .card-title {
        text-transform: capitalize;
        font-size: 1.125rem;
    }

    .card-subtitle {
        @extend .text-gray !optional;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }

    .card-description {
        color: $card-description-color;
    }

    .card-locked {
        justify-content: center;
        display: flex;
        align-items: center;
        min-height: 6rem;
        color: #d9d9d9;
    }

    &.border-danger .card-header {
        border-bottom-color: $danger;
    }

    &.card-rounded {
        @include border-radius(5px);
    }

    &.card-faded {
        background: #b5b0b2;
        border-color: #b5b0b2;
    }

    &.card-circle-progress {
        color: $white;
        text-align: center;
    }

    &.card-borderless {
        @extend .border-0;

        .card-header {
            @extend .border-bottom-0;
        }

        .card-footer {
            @extend .border-top-0;
        }
    }

    &.card-loading {
        position: relative;
        max-height: 10rem;
        min-height: 6rem;
        overflow: hidden;

        .dot-flashing {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &, &:before, &:after {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #9880ff;
                color: #9880ff;
                animation: loading-dots 1s infinite linear alternate;
            }

            &:before, &:after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
            }

            & {
                animation-delay: 0.5s;
            }

            &:before {
                left: -1.25rem;
                animation-delay: 0s;
            }

            &:after {
                left: 1.25rem;
                animation-delay: 1s;
            }
        }
    }
}

@each $color, $value in $theme-colors {
    .card-inverse-#{$color} {
        @include card-inverse-variant(rgba($value, .2), color-level($value, 1), color-level($value, 3));
    }

    .card.border-#{$color} .card-header {
        background-color: rgba($value, 0.1);
        border-bottom-color: $value;
    }
}
